@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(8, 0, 34);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 56px;
  padding-bottom: 15px;
}
button {
  border: 1.7px solid rgb(255, 203, 89);
  padding: 8px 20px;
  border-radius: 20px;
  background-color: rgb(255, 203, 89);
  font-size: 18px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button:active {
  background-color: rgb(255, 193, 47);
}
button:hover {
  background-color: rgba(255, 193, 48, 0);
  border: 1.7px solid #fff;
  color: #fff;
}
i {
  margin-left: 7px;
  color: rgb(4, 0, 38);
  font-size: 20px;
  transition: 0.5s ease-in-out;
}
button:nth-child(2n) {
  margin-left: 4px;
}
button:nth-child(2n):hover i {
  transform: rotate(180deg);
  color: #fff;
}
